@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-govuk-black: #0b0c0c;
  --color-govuk-blue: #1d70b8;
  --color-govuk-yellow: #ffdd00;
  --color-govuk-light-grey: #f3f2f1;
  --color-govuk-mid-grey: #b1b4b6;
  --color-govuk-dark-grey: #505a5f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, sans-serif;
}
